/*Primary selectors */
body{
  background-color: #FFF;
  color: #000;
  font-family: "Times NEwRoman",Times, serif;
  font-size: large;
}

table{
  width: 500px;
  border-collapse:  collapse;
  table-layout: fixed;
}

td{
  vertical-align: top;
  padding: 5px;
  word-wrap: break-word;
}

h1{
  color: rgb(255,50,0);
  margin-left: 20px;
}

#fullpage{
  margin: 100px;
}

.label_col{
  text-align: right;
}

.input_col{
  text-align: left;
}

.feedback_col{
  text-align: center;
  vertical-align: middle;
  color: LightGray;
  font-size: small;
}

.Button{
  margin:auto;
  text-align:center;
  width: 50px;
}
